{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
{% if tarefa.pk %}
Editar Tarefa
{% else %}
Nova Tarefa
{% endif %}
{% endblock page_title %}

{% block content %}
{% if tarefa.pk %}
    <h1>Editar Tarefa</h1>
{% else %}
    <h1>Nova Tarefa</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<script>
    // Se o campo tiver o nome "data_final", troca o tipo pra "datetime-local"
    document.addEventListener('DOMContentLoaded', function () {
        const campoData = document.getElementById('id_data_final');
        if (campoData) {
            campoData.type = 'datetime-local'; // ou 'date' se quiser só a data
        }
    });
</script>
{% endblock content %}
